@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@font-face {
    font-family: CreteRound;
    src: url(../fuentes/CreteRound.ttf);
}

//variables
$color1:#4d4d4d;
$color2:black;
$color3: #808080;
$color4: white;
$tipografSec: CreteRound;

$arreglo-colores:(
    gris1:  #ccc,
    gris2:  #aeaeae,
    gris3:  #a4a4a4,
);
@each $tpGris, $valor in $arreglo-colores{
    .borde-#{$tpGris}{//borde gris1/gris2/gris3
        border-bottom:1px solid $valor;
    }
}

@mixin encolumnado ($disp, $direccion, $horizontal, $vertical){
    display: $disp;
    flex-direction: $direccion;
    justify-content: $horizontal;
    align-items: $vertical;
}

@import 'animaciones';
@import 'menu'; // importamos la hoja sass del menu, si lo importamos luego de las variables vamos a poder usar las mismas!! si lo importamos antes NO vamos a poder usarlas y tendremos que declararlas nuevamente!!
//mixins


*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100%;
    margin: 0;
}

/*--Main--*/
p{color: $color3;
}
button{
    width: 130px;
    height: 50px;
    padding: 0.2em;
    margin-top: 3em;
    border: 2px solid $color2;
    font-size: 1em;
    text-transform: uppercase;
    background: transparent;
    font-family: $tipografSec;
    border-color: $color2;
    color: $color2;
    transition: width 1s 1s linear; background-color: 1s ease-out;
    &:hover{
        width: 300px;
        background-color: $color2;
        color: $color4;
    }
}

section img{
    width: 10%;
}

article div{
    @include encolumnado(flex,row ,flex-start ,center )
}
section h2{
    font-size: 1.3rem;
}

/*-- compra--*/

#compra{
    @include encolumnado(flex,column,flex-start, center);
    font-family:$tipografSec;
    background-color: $color2;
    color: $color4;
    width: 100%;
    perspective: 1000px;
    height: 200px;
    h3{
        font-size: 2em;
        font-weight: normal;
        margin: 0;
        text-transform: uppercase;
    }
    button{
        color: $color4;
        border-color: $color4;
        margin: 0;
        padding: 0;
    }
    &:hover .rotacion{
        transform: rotateY(180deg);
    }
}
.rotacion{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;// esta prop nos indica si preserva su rotacion o esta integrado al elem. padre, el valor preserve-3d, lo ubica integrado
    transition: transform 1s ease-in-out,
}

.frente, .fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    @include encolumnado(flex,row,center,center);
}
.fondo{
    transform: rotateY(180deg);
    background-color: $color2;
    @include encolumnado(flex,row,center,center );
}





/*---footer---*/
footer{
    width: 100%;
    @include encolumnado(flex,row ,space-around ,center);

    ul{
        list-style: none;
    }
}