@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
@font-face {
  font-family: CreteRound;
  src: url(../fuentes/CreteRound.ttf);
}
.borde-gris1 {
  border-bottom: 1px solid #ccc;
}

.borde-gris2 {
  border-bottom: 1px solid #aeaeae;
}

.borde-gris3 {
  border-bottom: 1px solid #a4a4a4;
}

@keyframes girar {
  0% {
    transform: translateZ(-150px) rotateY(0deg);
  }
  50% {
    transform: translateZ(-150px) rotateY(100deg) scale(2, 2);
  }
  100% {
    transform: translateZ(-150px) rotateY(360deg) scale(1, 1);
  }
}
.contenedor {
  width: 150px;
  height: 150px;
  margin: 50px auto;
  position: relative;
  perspective: 400px;
}

#cubo {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-150px);
  animation: girar 4s 1s infinite alternate;
  animation-play-state: paused;
}
#cubo div {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px solid #808080;
}
#cubo .atras {
  background: rgba(255, 0, 0, 0.5);
  transform: rotatex(0deg) translateZ(-75px);
}
#cubo .izquierda {
  background: rgba(85, 0, 255, 0.5);
  transform: rotateY(90deg) translateZ(-75px);
}
#cubo .abajo {
  background: rgba(0, 255, 128, 0.5);
  transform: rotateX(90deg) translateZ(-75px);
}
#cubo .adelante {
  background: rgba(255, 0, 255, 0.5);
  transform: rotateX(0deg) translateZ(75px);
}
#cubo .derecha {
  background: rgba(85, 255, 0, 0.5);
  transform: rotateY(90deg) translateZ(75px);
}
#cubo .arriba {
  background: rgba(255, 213, 0, 0.5);
  transform: rotateX(90deg) translateZ(75px);
}

#personalizado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  border-bottom: 1px solid #4d4d4d;
  height: 60px;
  font-family: CreteRound;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-bottom: 10px;
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
nav img {
  width: 45px;
  height: 52px;
}
nav a {
  margin-left: 10px;
  text-decoration: none;
  color: #4d4d4d;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}
#person:hover{
  color: #dd7093;
  text-decoration: underline;
}
nav a:first-of-type {
  margin-left: 15px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 100%;
  margin: 0;
}

/*--Main--*/
p {
  color: #808080;
}

button {
  width: 130px;
  height: 50px;
  padding: 0.2em;
  margin-top: 3em;
  border: 2px solid black;
  font-size: 1em;
  text-transform: uppercase;
  background: transparent;
  font-family: CreteRound;
  border-color: black;
  color: black;
  transition: width 1s 1s linear;
  background-color: 1s ease-out;
}
button:hover {
  width: 300px;
  background-color: black;
  color: white;
}

section img {
  width: 10%;
}

article div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

section h2 {
  font-size: 1.3rem;
}

/*-- compra--*/
#compra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: CreteRound;
  background-color: black;
  color: white;
  width: 100%;
  perspective: 1000px;
  height: 200px;
}
#compra h3 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
#compra button {
  color: white;
  border-color: white;
  margin: 0;
  padding: 0;
}
#compra:hover .rotacion {
  transform: rotateY(180deg);
}

.rotacion {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.frente, .fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fondo {
  transform: rotateY(180deg);
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*---footer---*/
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer ul {
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
